<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IntelliFactory.Xml" version="0.6.63.95" targetFramework="net40" />
  <package id="Zafir" version="4.0.151.28-beta5" targetFramework="net40" />
  <package id="Zafir.FSharp" version="4.0.151.28-beta5" targetFramework="net40" />
  <package id="Zafir.Html" version="4.0.56.95-beta5" targetFramework="net40" />
</packages>